<html>
    <head>
        <title> Team C QA Department </title>
    </head>

    <body>
        <a href="add/"> Add Member </a>
        <table>
            <thead>
                <th> ID </th>
                <th> First </th>
                <th> Last </th>
                <th> Action </th>
            </thead>
                <tbody>
                    {% for member in members %}
                    <tr> 
                        <td><a href="update/{{member.id}}"> {{member.id}} </a> </td>
                        <td>{{member.firstName}}</td>
                        <td>{{member.lastName}}</td>
                        <td><a href="delete/{{member.id}}"> Delete </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>

        </table>
    </body>

</html>
