
<html>
    <head>
        <title> Update member </title>
    </head>

    <body>
        <form action="updaterecord/{{member.id}}" method="post">
            {% csrf_token %}
            <label for="firstName"> First Name: </label>
            <input name="firstName" value="{{member.firstName}}">

            <label for="lastName"> Last Name: </label>
            <input name="lastName" value="{{member.lastName}}">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
